html {
    font-size: 62.5%;  /* porque por defecto el tamaño de letras de los navegadores es 16px y 0.625*16px = 10px = 1rem */
    box-sizing: border-box;
}
body {
    font: 1.6rem Helvetica; /* es igual a 16px */
    height: 100vh;
    margin: 0;
}
#root {
    height: 100%;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: gray;
}