.brand button {
    font-size: 3rem;
    padding: .5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
.sidebar {
    position: fixed;
    transition: all .5s;
    transform: translateX(-30rem);
    width: 30rem;
    background-color: white;
    height: 100%;
}
.sidebar.open {
    transform: translateX(0)
}
.sidebar-close-button {
    border-radius: 50%;
    background-color: white;
    border: .1rem black solid;
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    font-size: 2rem;
    padding-top: 0; /* para corregir el des-alineamiento vertical" */
    cursor: pointer;
    position: absolute;
    right: .5rem;
    top: 1.5rem;
}